.about-me {
    margin-bottom: 40px;
    position: relative;

&__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323A38;
    margin-bottom:30px;;
}
&__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    &--blue {
        color: #3777A6;
    }
}
&__text:last-child {
margin-bottom: 0;
}

&__photo {
    min-width: 1920px;
    width: 100%;
    margin-top: 160px;
}
&__photo-block {
    display: flex;
    justify-content: center;
}

&__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0px;
    right: 0;
    top: 168px;
}
&__block {
    width: 49%;
    padding-top: 158px;
}
}

@media (max-width: 768px) {
    .about-me {
    margin-bottom: 30px;
    &__photo {
        display: none;
    }
    &__photo-mobil {
        max-width: 400px;
        margin: auto;
        display: block;
        width: 100%;
    }
    &__title {
        font-size: 38px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    &__block {
        width: 100%;
        padding-top: 0;
    }
    &__info {
        position: static;
    }    
}
}
@media (min-width: 768px) {
    .about-me {
    &__photo-mobil{
        display: none;
    }
    }
}