.about-me {
    margin-bottom: 40px;
    position: relative;

&__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323A38;
    margin-bottom:30px;;
}
&__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    &--blue {
        color: #3777A6;
    }
}
&__text:last-child {
margin-bottom: 0;
}

&__photo {
    width: 100%;
    padding-top: 160px;
}

&__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0px;
    right: 0;
    top: 168px;
}
&__block {
    width: 49%;
    padding-top: 158px;
}
}