.advantages {
    margin-top: 114px;
    margin-bottom: 100px;

&__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323A38;
    margin-bottom: 10px;
}
&__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    align-items: center;
}
&__italic {
    color: #808080;
}
&__boild {
    color: #103C58
}
&__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
&__item {
    display: flex;
    flex-direction: column;
    max-width: 224px;
    width: 100%;
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #EBEAF0;
    border-radius: 0px 0px 5px 5px;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.05));
}
&__strides {
    padding: 15px 25px 18px;
    background: #FFFFFF;}

&__strides-text {
    font-weight: 400;
font-size: 17px;
line-height: 26px;
color: #323A38;
}

@media screen and (max-width: 1260px) {
    &__list {
        justify-content: center;
        margin-right: -10px;
        margin-left: -10px;
    }
    &__item {
        max-width: none;
        width: calc(100% / 3 - 20px);
    }
}
    












}
