.content {
  background-image:url(/public/images/bg.png);
  background-repeat: no-repeat;
  background-position: 106% -30px;
  padding-top: 130px;
  border: 1px solid #EBEAF0;
  box-shadow: 0px 30px 40px -26px rgba(0, 0, 0, 0.05);
  
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    color: #323a38;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  &__appeal {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #323a38;
    margin-bottom: 60px;
    max-width: 538px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__signature {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 80px;
  }
  &__ism {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #909499;
    font-style: italic;
  }
  &__name {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #808080;
  }
}

@media (max-width: 768px) {
  .content {
  background-image: none;
  background-color: #f8f8f8;
  padding-top: 40px;
  background-image: url(/public/images/min.png);
  background-size: contain;
  background-repeat: no-repeat;

  &__img {
    display: none;
  }
  &__block {
    justify-content: start;
    flex-direction: column;
  }
  &__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 38px;
    color: #323A38;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  &__appeal {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #323a38;
    margin-bottom: 40px;
}
&__signature {
  margin-top: 150px;
  margin-bottom: 100px;
  max-width: 204px;
}
&__ism {
  font-style: normal;
}
&__name {
  font-size: 16px;
  line-height: 24px;
}
}
}