@font-face {
    font-family: 'Cormorant Garamond';
    src: url('fonts/CormorantGaramond-Medium.woff2') format('woff2'),
        url('fonts/CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Regular.woff2') format('woff2'),
        url('fonts/PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Regular_1.woff2') format('woff2'),
        url('fonts/PTSerif-Regular_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('fonts/CormorantGaramond-Regular.woff2') format('woff2'),
        url('fonts/CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('fonts/CormorantGaramond-Medium_1.woff2') format('woff2'),
        url('fonts/CormorantGaramond-Medium_1.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Italic.woff2') format('woff2'),
        url('fonts/PTSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Italic_1.woff2') format('woff2'),
        url('fonts/PTSerif-Italic_1.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Bold.woff2') format('woff2'),
        url('fonts/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('fonts/CormorantGaramond-Regular_1.woff2') format('woff2'),
        url('fonts/CormorantGaramond-Regular_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Bold_1.woff2') format('woff2'),
        url('fonts/PTSerif-Bold_1.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

