.header {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
  &__row {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header__nav-button {
    display: none;
  }
  &__nav-list {
    display: flex;
    gap: 60px;
    align-items: center;

    @media screen and (max-width: 1090px) {
      gap: 30px;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    z-index: 10;
    
  }
  &__logo {
    width: 32%;

  }
  &__logo-img {
    display: block;
  }
  &__nav-link {
    font-size: 17px;
    line-height: 26px;
    color: #595959;
  }
  &__nav-link:hover,
  &__nav-link:focus {
    color: rgba(55, 119, 166, 1);
    border-bottom: 1px solid rgba(55, 119, 166, 1);
    transition: all 0.3s;
  }
  &__contacts {
    display: flex;
  }
  &__contacts-advice {
    font-size: 15px;
    line-height: 23px;
    color: #909499;
  }
  &__contacts-number {
    font-size: 18px;
    color: rgba(128, 128, 128, 1);
  }
  &__number-boild {
    font-weight: 700;
    color: rgba(16, 60, 88, 1);
  }
  &__contacts-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 22px;
    border-right: 1px solid #ebeaf0;
    margin-right: 20px;
    justify-content: center;
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__social-link {
    display: flex;
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
  }
  &__social-link:last-child {
    margin-bottom: 0;
  }
  &__social-link--whatsapp:hover {
    svg {
      path {
        fill: #0dc143;
        transition: all .2s;
      }
    }
  }
  &__social-link--tg:hover {
    svg {
      path {
        fill: #0193f4;
        transition: all .2s;
      }
    }
  }
}

@media (max-width:768px) {
  .header {
    &__button-close {
      display: none;
    }
    &__row {
      height: 62px;
    }
    border: 1px solid #EBEAF0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FBFBFB;
    z-index: 10;
    
    &__block {
      display:none;
      position: fixed;
      background-color: #F0F1F5;
      flex-direction: column;
      height: 100%;
      top: 62px;
      right: 0;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-y: auto;
      transition: .5s;
      transform: translateX(100%);
      opacity: .5;
      animation: menu .3s ease-in forwards;
      
  }
  &__row {
    padding-top: 8px;
    padding-bottom: 8px;
  }
    &__logo-img {
      max-width: 164px;
    }
    &__logo {
      width: 100%;
    }
    &__button {
      font-size: 0;
      border: none;
      background-color: transparent;
    }
    &__nav-list {
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;
      padding-top: 25px;
      padding-left: 25px;
      &:last-child {
        padding-bottom: 30px;
      }
    }
    &__contacts {
      flex-direction: column;
      background-color: #F0F1F5;
      padding-top: 20px;
      padding-left: 25px;
    }
    &__contacts-block {
      border: none;
      align-items: flex-start;
      margin-bottom: 22px;
    }
    &__social {
      flex-direction: row;
      justify-content: flex-start;
      gap: 32px;
      margin-bottom: 30px;
      width: 20px;
      height: 20px;
    }
    &__nav-button {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    &__navigation {
      width: 100%;
      background-color: #fff;
    }
    &__nav-button-row {
      padding-right: 10px;
      padding-left: 10px;
      width: 100%;
      margin-bottom: 150px;
    }
    &__contacts-number {
      line-height: 28px;
      
    }
    .header__nav-button {
      display: block;
    }
    &--open {
      z-index: 10;
      
      &::before {
        content: '';
        position: fixed;
        z-index: -1;
        width: 100%;
        min-height: 100%;
        top: 62px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.45);
        
      }
      .header__button-close {
        display: block;
      }
      .header__button-open {
        display: none;
      }
      .header__block {
        display: flex;
      }
    }

}
}

@media (min-width:768px) {
  .header {
    &__button {
      display: none;
    }
  }
}

@keyframes menu {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
