.my-contacts {
  background: linear-gradient(240.22deg, #fafafa 31.8%, #f4f4f4 88.08%);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #ebeaf0;
  border-bottom: 1px solid #ebeaf0;

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__content-block {
    width: 50%;
    margin-right: 10px;
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323a38;
    margin-bottom: 10px;
  }
  &__connection {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #808080;
    margin-bottom: 60px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 50%;
  }
  &__image {
    width: 100%;
  }

  &__time {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #909499;
  }

  &__link-tel {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #323a38;
    margin-bottom: 20px;
  }
  &__big {
    font-size: 30px;
  }
  &__mail {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #323a38;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 15px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ebeaf0;
    height: 20px;
    padding-left: 20px;
  }
  &__link--whatsapp:hover {
    svg {
      path {
        fill: #0dc143;
        transition: all 0.2s;
      }
    }
  }
  &__link--tg:hover {
    svg {
      path {
        fill: #0193f4;
        transition: all 0.2s;
      }
    }
  }

  &__form-info {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 17px;
    background: #ffffff;
    border: 1px solid #dde8ee;
    border-radius: 5px;
    padding: 10px 20px 12px 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #323a38;
    &:focus {
        outline-color: #469AD8;
    }
  }
  &__input-wide {
    background: #ffffff;
    border: 1px solid #dde8ee;
    border-radius: 5px;
    min-height: 164px;
    resize: none;
    padding: 10px 20px 12px 25px;
    overflow-y: scroll;
    display: block;
    &:focus {
        outline-color: #469AD8;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: white;
      width: 12px;
      border-radius: 10px;
      margin-block: 10px;
    
      /* цвет дорожки */
    }
    &::-webkit-scrollbar-thumb {
      background: #909499;
      border-radius: 10px;
      border: 4px solid white;
    } 
  }
  &__input:valid {
    background-image: url(/public/images/coolicon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
  }

  &__span {
    font-size: 15px;
    line-height: 23px;
    color: #909499;
    
  }
  &__personal {
    font-size: 15px;
    line-height: 23px;
    color: #909499;
    position: relative;
    &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 1px;
        background-color: #909499;
    }
  }
  &__button {
    margin-top: 4px;
    margin-bottom: 100px;
    width: fit-content;
  }

  @media (max-width: 768px) {
    .my-contacts {

    &__content {
      flex-direction: column;
    }
    &__content-block {
      width: 100%;
      margin-right: 0;
    }
    &__image {
      display: none;
    }

    &__title {
      font-size: 38px;
      line-height: 38px;
    }
    &__connection {
      font-size: 17px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    &__info {
      margin-top: 0;
      width: 100%;
    }
    &__button {
      display: block;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 60px;
      width: fit-content;
    }
    &__image-mobil {
      width: 100%;
      max-width: 400px;
      margin: auto;
      display: block;

    }
    &__input-wide {
      background: #ffffff;
      padding: 10px 25px 20px 16px;
    }
    &__input {
      padding: 10px 20px 12px 16px;
    }
  }
}

@media (min-width: 768px) {
  .my-contacts {
  
    &__image-mobil {
    display: none;
  }
}
}}