.qualification {

&__block {
    border: 1px solid #EBEAF0;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 110px;
    background-image: url(/public/images/blur.png), url(/public/images/texture.png);
    background-size: 100%;
}

&__title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323A38;
    margin-bottom: 20px;
}
&__experience {
    font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #323A38;
margin-bottom: 40px;
max-width: 672px;
max-height: 56px;
}
&__italic {
    color: rgba(128, 128, 128, 1);
}
&__list {
    max-width: 672px;
    max-height: 521px;
}
&__diploma-list {
    display: flex;

}
&__img {
    position: absolute;
    right: 0px;
    top: 34px;
    width: 30%;
}
&__item {
    padding-left: 12px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 16px;
        width: 4px;
        height: 4px;
        background-color: #3777A6;
        border-radius: 50%; 
    }
}
&__diploma-list {
    display: flex;
    margin-top: 46px;
    gap: 20px;
}
&__link-see-pdf {
    display: flex;
    color: #3777A6;;    
}
&__link-svg {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

@media screen and (min-width:1366px) {
    &__img {
        position: absolute;
        right: -70px;
        top: 34px;
        width: 30%;
    }
}














}