.about-me {
    margin-bottom: 100px;
        position: relative;

&__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323A38;
    margin-bottom:30px;;
}
&__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}
&__text:last-child {
margin-bottom: 0;
}

&__photo {
    width: 100%;
}

&__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 110px;
    right: 0;
    top: 20%;
}
&__block {
    width: 47%;
}











}