.header {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
  &__row {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__nav-list {
    display: flex;
    gap: 60px;
    align-items: center;

    @media screen and (max-width: 1090px) {
      gap: 30px;
    }
  }
  &__nav-link {
    font-size: 17px;
    line-height: 26px;
    color: #595959;
  }
  &__nav-link:hover,
  &__nav-link:focus {
    color: rgba(55, 119, 166, 1);
    border-bottom: 1px solid rgba(55, 119, 166, 1);
    transition: all 0.3s;
  }
  &__contacts {
    display: flex;
  }
  &__contacts-advice {
    font-size: 15px;
    line-height: 23px;
    color: #909499;
  }
  &__contacts-number {
    font-size: 18px;
    color: rgba(128, 128, 128, 1);
  }
  &__number-boild {
    font-weight: 700;
    color: rgba(16, 60, 88, 1);
  }
  &__contacts-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 22px;
    border-right: 1px solid #ebeaf0;
    margin-right: 20px;
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__social-link {
    display: flex;
    width: 20px;
    height: 20px;
  }
  &__social-link--whatsapp:hover {
    svg {
      path {
        fill: #0dc143;
        transition: all .2s;
      }
    }
  }
  &__social-link--tg:hover {
    svg {
      path {
        fill: #0193f4;
        transition: all .2s;
      }
    }
  }
}
