.questions {
    margin-bottom: 100px;

&__title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #323A38;
    margin-bottom: 30px;
}
&__title-list {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #808080;
    
}
&__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #323A38;
}
&__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 16px 25px;
    margin-bottom: 20px;
    align-items: center;
}
&__answer {
    display: flex;
    justify-content: space-between;
}

&__text {
    display: none;
}

&__item--open {
    .questions__text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #323A38;
    padding-right: 13px;
    padding-left: 13px;
    }
    .questions__answer {
        padding-bottom: 22px;
        border-bottom: 1px solid #EBEAF0;
        margin-bottom: 20px;
    }
    .questions__title-list {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #323A38;
    }
    .questions__plus {
        transition: all .2s;
        transform: rotate(45deg);
        background-color: #909499;
    }
}

&__plus {
    position: relative;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #3778a67a;
    align-items:center;
    transition: all .2s;
    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;
        left: calc(50% - 6px);
        top: 13px;
        width: 12px;
        height: 1px;
        background-color: #fff;
    }
    &::after {
        transform: rotate(90deg);
    }

}






}
